@font-face{
	font-family: "Titillium Web";
	src: url("css/fonts/OFL.txt");
	src:
	url("css/fonts/TitilliumWeb-Regular.ttf");


}

/* Global */
body {
	font-family: "Titillium Web";
	background-color: white;
	margin: 0;
}

h2 {
	font-weight: bold;
	font-style: normal;
	font-size: 44;
}

h3 {
	font-style: bold;
	color: #E5C416;
}

.container-fluid {
	max-width: 1280px;
	overflow: hidden;
}

.list {
	padding: 0px;

}

.list li{
  display:inline;
}

.flexrow {
	display: -webkit-flex; /* Safari */		
	display: flex; /* Standard syntax */
}

.toptransition {
	margin-top: 250px;
	background-image: url("./img/toptransition.png");
	height: 102px;
}

.bottomtransition {
	margin-top: 40px;
	background-image: url("./img/bottomtransition.png");
	height: 102px;
}

.orange-cta {
  border-radius: 5px;
  background: #f6af27;
  padding: 13px 20px 0px 20px; 
  color: white;
  font-weight: bold;
  width: 150px;
  height: 50px; 
  text-align: center; 
  font-size: large;
}
/* END Global */

/* Footer */

#footer {
	background-image: url("./img/footer.png");
	text-align: right;	
	height: 260px;
	color: white;
}

.footer-left {
	margin-top: 55px;
	float: left;

}

.footer-right {
	margin-top: 95px;
	float: right;
	width: 70%;
	line-height: 200%
}

.footer-right p {
	font-style: normal;
	font-size: 18;
}

.footer_menu_list {
  	display: inline-block; 	
}

.footer_menu_list li {
	font-size: 18;
	font-weight: normal;
	padding-left: 20px;
}
/* END Footer */

/* Header */
#header {
	background-color: #f0f0f0;
	background-image: url("./img/sphere.jpg");
	margin-bottom: 10px;
	background-size: cover;
	height: 1000px;
	color: white;
}

#headerlogo {
	
}

#headertext {
	background-image: url("./img/headbox2.png");
	color: black;
	text-align: left;
	width: 550px;
	height: 400px;
	padding: 40px;
}

.top_row {
	height: 250px;
	padding-top: 20px;
}

.top_left {
	float: left;
	width: 50%;
}

.top_right {
	float: right;
	width: 50%;
}

.menu_list {
	border-bottom: 1px solid #ffffff;
  	border-top: 1px solid #ffffff;
  	display: inline-block;
  	padding-top: 10px;
}

.menu_list li {
	font-size: 20;
	font-weight: bold;
	padding-right: 20px;
}

.menu_list li:hover {
  	border-top: 1px solid #b08d2e;
  	padding-top: 10px;
  	margin-top: -11px;
  	display: inline-block;
}
.searchbar {
	width: 100%;
	float: right;
}

.searchbar input {
	float: right;
}


.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000; /* Set the bg image here. with "no-repeat" */
}

.search {
    position: relative;
    width: 230px;
    height: 50px;
    float: right;
    color: black;
}

.socialicons {
	padding-bottom: 8px;
}

.socialicons li {
	padding-right: 5px;
}
/* END Header */

/* Section classes */
/* about */
.about {
	background-color: white;
	color: black;
	padding-bottom: 4em;
}

/* contact */
.contact {
	background-color: #585f66;
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;	
}

.contact_short {
	width: 45%;
}

/* blogs */
.blogs {
	background-color: white;
	background-image: url("./img/blogs.png");
	color: black;
	padding-top: 4em;
	padding-bottom: 4em;	
}

.blog_card {
	border: solid;
	width: 282px;
}

/* highlights */
.highlights {
	background-color: #010029;
	background-image: url("./img/highlights.png");
	background-position: center;
	color: white;
	height: 500px;
}

/* testimonials */
.testimonials {
	background-color: #1a1a1a;
	background-image: url("./img/testimonials.png");
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	padding-top: 4em;
	padding-bottom: 4em;
	height: 1000px;

}

/* gallery */
.gallery {
	background-color: #e1d6a1;
	color: black;
	padding-top: 4em;
	padding-bottom: 4em;	
}
/* END Section Classes */